/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?81665104');
  src: url('../fonts/fontello.eot?81665104#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff?81665104') format('woff'),
  url('../fonts/fontello.ttf?81665104') format('truetype'),
  url('../fonts/fontello.svg?81665104#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-right:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-emo-happy:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-emo-unhappy:before { content: '\e806'; } /* '' */
.icon-music:before { content: '\e807'; } /* '' */
.icon-watch:before { content: '\e809'; } /* '' */
.icon-cw-1:before { content: '\e80d'; } /* '' */
.icon-user-plus:before { content: '\e808'; } /* '' */

/**
 * Eric Meyer's Reset CSS v2.0
(http://meyerweb.com/
eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@mixin hoverActiveFocus($property, $value) {
  &:hover, &:active, &:focus {
    #{$property}: $value;
  }
}
*,:after, :before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pull-left{float: left;}
.pull-right{float: right;}


.hide{
  display: none;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  font-size: 13px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  word-wrap: break-word;
  font-family: helvetica, arial, sans-serif;
  overflow: hidden;
}
#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#F3F3F3; /* change if the mask should have another color then white */
  z-index:99; /* makes sure it stays on top */
}
#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-repeat:no-repeat;
  background-position:center;
  text-align: center;
  color: #999;
  line-height: 19px;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}
p{
  line-height: 17px;
}

h2{
  font-size: 25px;
  font-weight: bold;
  margin: 10px auto;
  text-transform: uppercase;
}

button,a{outline:none !important;-webkit-transition:all 0.3s;transition:all 0.3s}

.logo-wrapper{
  width: 597px;
  height: 577px;
  position: absolute;
  top: 50px;
  left: calc(50% - 297px);
  img{
    position: absolute
  }
  .logo{
    z-index: 2;
  }
  .bg-logo{
    z-index: 1;
  }
}

.app-wrapper{
  background: url(../img/bg-app.jpg) no-repeat;
  width: 1000px;
  height: 739px;
  position: relative;
  z-index: 3;
  margin: 0 auto;

  .page{
    border-radius: 50%;
    // border: 10px solid rgba(255,255,255,0.4);
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50px;
    z-index: 10;
    left: calc(50% - 250px);
    background: #fcb315; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmY2IzMTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmYmE5MTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #fcb315 50%, #fba917 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,#fcb315), color-stop(50%,#fba917)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #fcb315 50%,#fba917 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #fcb315 50%,#fba917 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #fcb315 50%,#fba917 50%); /* IE10+ */
    background: linear-gradient(to right,  #fcb315 50%,#fba917 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb315', endColorstr='#fba917',GradientType=1 ); /* IE6-8 */
    &:after{
      border-radius: 50%;
      border: 10px solid rgba(255,255,255,0.6);
      content: ' ';
      display: inline-block;
      width: 520px;
      height: 520px;
      position: absolute;
      top: -10px;
      left: -10px;
      z-index: 1;
    }
    .content{
      width: 486px;
      height: 486px;
      border-radius: 50%;
      border: 10px solid rgba(251,145,15,.5);
      position: absolute;
      top: 7px;
      left: 7px;
      z-index: 2;
      color: #FFF;
    }
  }

  .description{
    width: 320px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    p{color: rgba(0,0,0,0.8);margin-bottom: 10px;}
  }
  img{
    margin: 30px auto;
    display: block;
  }
  b{
    font-weight: bold !important;
  }
  a{
    color: rgba(0,0,0,0.5)
  }

  .info{
    font-size: 12px;
    color: rgba(0,0,0,0.7);
    width: 280px;
    margin: 10px auto;
    line-height: 14px;

  }

  .howto,.howto2{
    text-align: center;
  }

  .form{
    text-align: center;
    select{
      border-radius: 50px;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      cursor: position !important;
      color: #666;
      background: url(../img/arrow-select.png) no-repeat 193px 2px;
    }
    .form-input{
      width: 220px;
      height: 28px;
      background-color: #FFF;
      border: none;
      webkit-border-radius:30px;
      -moz-border-radius:30px;
      border-radius:30px;
      padding: 0 20px;
      margin-bottom: 10px;
      outline: none;
      color: #666;
    }
  }
  .endscreen{
    background: transparent url(../img/bg-endscreen.png) no-repeat;
    width: 573px;
    height: 592px;
    left: calc(50% - 287px);
    &:after{
      border: none;
      content: none;
    }
    .content{
      border: none;
      color: #20718b;
      margin: 110px auto 0;
      text-align: center;
      width: 58%;
      font-size: 14px;
      line-height: 40px;
      position: relative;
      font-weight: bold;
      top: 0;
      left: 0;
      img{
        margin-left: -24px;
      }
      h1{
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      p span{
        color: #02b4e4;
      }
      p{
        line-height: 20px;
      }
    }
    &.win{
      padding-top: 20px;
    }
    &.loose{
      padding-top: 60px;
      p{
        color: #02b4e4;
        margin-bottom: 30px;
      }
    }
    button{
      i{
        background: #FCB315;
        color:#FFF
      }
    }
  }
}
.overlay-howto{
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  position:absolute;
  display: none;
  z-index: 100000
}

.word-list{
  background-color: #24748d;
  width: 275px;
  height: 275px;
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  padding: 50px 0 0 37px;
  position: absolute;
  top: 170px;
  left: 680px;
  h3{
    color: #f1c651;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  h4{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    width: 160px;
    margin: 0 auto;
    margin-bottom: 19px;
  }
  li{
    width: 128px;
    margin: 4px auto 0;
    border-radius: 10px;
    opacity: 0.8
  }
}


.rf-tablestyle {
  cursor: pointer;
  margin-top: 30px;
}
.rf-foundword {
  text-decoration : line-through;
  color : rgba(255,255,255,0.3);
  font-style : italic;

}
#rf-tablegrid .row{
  width: 300px;
  margin: 0 auto;
}
#rf-tablegrid .row:first-child span{
  border-top: 1px solid rgba(0,0,0,.1);
}
#rf-tablegrid .row span:first-child{
  border-left: 1px solid rgba(0,0,0,.1);
}
#rf-tablegrid span{
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-weight: bold;
  border-right: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}
#rf-tablegrid .rf-highlight {
  background: red;
}
#rf-tablegrid .rf-glowing {
  background: rgba(0,0,0,.2);
}

#rf-tablegrid .rf-selected {
  background: rgb(36, 116, 141) !important;
}

.anim-pages{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  div{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 250px);
    top: 50px;
    z-index: 1;
    &.orange{background-color: #fcb315;z-index:3}
    &.blue{background-color: #ff9600;z-index:2}
    &.yellow{background-color: #17c6e7;z-index:1}
    &.white{background-color: #FFF;z-index:0}
  }
}

.action-btn{
  padding: 5px 25px 5px 30px;
  border-radius: 40px;
  background: #25667c;
  border: none;
  font-size: 21px;
  font-weight: bold;
  color: #FFF;
  text-align: left;
  outline: none;
  cursor: pointer;
  overflow: visible !important;
  i{
    background: #FFF;
    width: 30px;
    height: 30px;
    color: #25667c;
    line-height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-left: -40px;
    margin-right: 10px;
    margin-top: 2px;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    position: absolute;
    text-align: center;
  }
  .sub{
    display: block;
    font-size: 9px;
    margin-top: -2px;
    text-transform: uppercase;
    text-align: center;
  }
  &:hover{
    background: darken(#25667c,10%);
    i{transform: translateX(5px);}
  }
  &.start-btn{
    background: #fcb315;
    position: absolute;
    bottom: 110px;
    left: 50%;
    margin-left: -78px;
    padding: 10px 25px 10px 30px;
    box-shadow: 0 2px #a65716;
    z-index: 10001;
    text-shadow: 0 1px 1px rgba(0,0,0,0.6);
    &:hover{background: darken(#fcb315,10%);}
    i{text-shadow: none;}
  }
}

#timer {
  height: 150px;
  margin: 0 auto;
  position: absolute;
  right: -59px;
  top: 50px;
  width: 100px;
  height: 100px;
  z-index: 50;
  opacity: 1;
}
#timer.action {
  opacity: 1;
}
.face {
  background: #B0CB1C;
  border-radius: 50%;
  left: 12%;
  position: absolute;
  width: 76%;
  height: 76%;
  text-align: center;
  top: 12%;
}
.face h2 {
  font-size: 13px;
  font-weight: 300;
  margin-top: 13px;
  color: rgba(0,0,0,.5) !important;
}
.face p {
  font-size: 45px;
  font-weight: bold;
  margin-top: 25px;
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3)
}

.footer-wrapper{
  background-color: rgba(0,165,186,0.7);
  border: 6px solid rgba(49,186,222,0.7);
  height: 65px;
  border-radius: 50px;
  width: 410px;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -205px;
  bottom: 60px;
  z-index: 1000;
  a{
    color: #FFF;
    text-decoration: none;
    padding: 4px;
    display: inline-block;
    line-height: 47px;
    font-size: 12px;
    text-transform: uppercase;
    @include hoverActiveFocus(color,rgba(255,255,255,0.5));
  }
}

.validatr-message {
  background-color: rgba(145, 31, 31, 0.7) !important;
  color: #FFF !important;
  padding: 5px 10px !important;
  border-radius: 7px !important;
  margin-top: -17px !important;
  border: none !important;
  min-width: 130px;
}